@tailwind base;
@tailwind components;
@tailwind utilities;

.noneW{
    scrollbar-width: none;
}

.section-popular{
@apply relative
}
.section-popular:before{
    @apply absolute inset-x-0 w-full top-auto -bottom-10 h-1/3 -z-10;
    content:"";
    background: #1F2022;
    background-image: url('../../images/rectangle-image/Card Section/popular-bottom-bg.svg');
}
.nav-link a{
    position:relative;
    text-decoration: none;
    padding:0 10px;
}
.nav-link a:after
{
    content:"";
    position:absolute;
    background-color: #1fab71;
    height: 0.125rem;
    width: 0;
    bottom:-0.5rem;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;

   
}
 .nav-link a:hover:after{
    width: 100%;
    transition-duration: .3s;
    transition-property: all;
    transition-timing-function:cubic-bezier(.4,0,.2,1);
   
}